fastapi
uvicorn[standard]
httpx
qdrant-client
python-multipart
sqlalchemy
aiosqlite
asyncpg
pydantic[email]
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
datasets
librosa
soundfile
numpy
torch
pytest
pytest-asyncio
torchaudio
transformers
pandas
torchcodec
